.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formLabel,
.formName,
.formNumber {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  border: none;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 8px;
}

.formBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(90, 135, 227, 0.8);
  border: none;
  border-radius: 8px;
  color: #fff;
  flex-grow: 1;
  font-size: 15px;
  height: 36px;
  max-width: 150px;
  align-items: center;
  padding: 0 16px 0 16px;
  color: white;
}

.formBtn:hover {
  background-color: rgb(27, 38, 60);
  cursor: pointer;
}
